body {
    text-align: center;
    background-color: rgb(141, 55, 221);
    
  }
  input {
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 300px;
  }
  button{
    background: #0e1030;
    color: rgb(240, 227, 227);
    font-size: 18px;
    background-color: rgb(2, 63, 7);
    padding: 12px;
    border-radius: 5px;
  }
  button:hover{
    background-color: rgb(20, 241, 38);
    cursor: pointer; 
    padding: 10px;
    font-size: 18px; 
    border-radius: 5px;
}

p{
font-size:20px;
}
h2{
  color: rgb(4, 0, 255);
}